.body {
  margin: 0;
  height: fit-content;
  background-color: #F7F7FE;
}

.title {
  position: relative;
  text-align: center;
  padding: 50px;
  padding-top: 150px;
  font-weight: bold;
}

.title p{
  font-size: 1vw;
  padding: 0 7vw;
  font-family: "Hind";
  font-weight: lighter;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0px 8.5vw;
  margin-bottom: 10vw;
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .title p{
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    column-count: 1;
  }
  .title h1 {
    font-size: 9vw;
  }

  .title p{
    font-size: 3vw;
  }
}
