.pics{
   
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.pics img:hover{
    /* filter: opacity(.6); */
    
}

.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition:opacity .4s ease, visibility .4s ease transform;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.modal-open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    
}

.modal img{
    width: auto;
    max-width: 100%;
    height: 100%;
    display: flex;
    line-height: 0;
    box-sizing: border-box;
    padding:20px 0 20px;
    margin: 0 auto;
    object-fit:scale-down;
}

.modal-open svg{ 

} 

.close{
    position: fixed;
    top:10px;
    right:1vw;
    width:2vw;
    height: 2vw;
    padding: 5px;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    cursor: pointer;
}

.download{
    position: fixed;
    top:10px;
    right:4vw;
    width:2vw;
    height: 2vw;
    padding: 5px;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    cursor: pointer; 
}

.download-pic{
    position: absolute;
    background-color: rgba(255,255,255,0.4);
   
    
}
.download-pic:hover{
    transform: scale(1.1);
}